/* --------------------------- collection-cover Section --------------------------------------- */

#collection-cover {
	background-image: url(./img/collection/cover.jpeg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#collection-cover::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#collection-cover .collection-cover {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#collection-cover h1 {
	display: block;
	width: fit-content;
	font-size: 3.5rem;
	text-transform: uppercase;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#collection-cover h1:nth-child(1) {
	animation-delay: 1s;
}
#collection-cover h1:nth-child(2) {
	animation-delay: 2s;
}
#collection-cover h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#collection-cover h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgb(212, 199, 97);
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#collection-cover h1:nth-child(1) span {
	animation-delay: .5s;
}
#collection-cover h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#collection-cover h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* -------------------------- End collection-cover Section -------------------------------- */

h1 {
	margin-bottom: 20px;
  }
  
  h2 {
	margin-bottom: 10px;
  }
  
  button {
	padding: 7.5px 10px;
	border-radius: 10px;
	border: none;
  }
  
  input {
	border-radius: 5px;
  }
  
  /* ---------------------------------------- Buttons ----------------------------------------- */

  /* All buttons */
  .button-action{
    margin-top:20px;
  }
  .delete:hover {
	cursor: pointer;
  }

  .modify:hover {
	cursor: pointer;
  }
  
  .add-basket:hover {
	cursor: pointer;
  }
  
  .remove-basket:hover {
	cursor: pointer;
  }
  
  .title {
	color: black;
  }

  /* ------------------------------------------- Form design ------------------------------------------------*/

  .container-form {
	max-width: 400px;
  width: 100%;
  margin: auto;
  }
  
  #newPainting input[type="text"],
  #newPainting input[type="number"],
  #newPainting button[type="submit"] {
	font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #newPainting {
	background: #F9F9F9;
	padding: 25px;
	margin: 150px 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #newPainting h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
  }
  
  #newPainting h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
	font-weight: 400;
  }
  
  fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
  }
  
  #newPainting input[type="text"],
  #newPainting input[type="number"] {
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
  }
  
  #newPainting input[type="text"]:hover,
  #newPainting input[type="number"]:hover{
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
  }
  
  #newPainting button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #4CAF50;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
  }
  
  #newPainting button[type="submit"]:hover {
	background: #43A047;
	transition: background-color 0.3s ease-in-out;
  }
  
  #newPainting input:focus,
  #newPainting textarea:focus {
	outline: 0;
	border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
	color: #888;
  }
  
  :-moz-placeholder {
	color: #888;
  }
  
  ::-moz-placeholder {
	color: #888;
  }
  
  :-ms-input-placeholder {
	color: #888;
  }


  /* -------------------------------------------- Boutique - Solo painting parameter ---------------------------------------------- */
  @import url(https://fonts.googleapis.com/css?family=Raleway);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.boutique h1{
  margin-top:40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
}

.boutique p{
  line-height: 2.5rem;
	font-weight: 300;
  letter-spacing: .05rem;
  text-align: center;
}

.intro{
  margin-bottom: 40px;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.container-painting{
  padding: 1em 0;
  float: left;
  width: 50%;
}
@media screen and (max-width: 640px){
  .container-painting{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .container-painting{
    width: 33.33333%;
  }
}

.container-painting .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgb(95, 95, 95);
  
}

.content-button {
  position: relative;
  width: 100%;
  max-width: 260px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
  border-radius: 2%;
}

.content-image{
  width: 100%;
  height: 300px;
  border-radius: 2%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 12.5px;}

.fadeIn-top{
  top: 20%;
}


