/* Article img Section for panier and panier */
.article-img {
    display: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
}
.article-img div {
    width: 160px;
    height: 160px;
    background-size: cover;
}
/* End Article img Section */

/* panier-cover Section */
#panier-cover {
	background-image: url(./img/panier/cover.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#panier-cover::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#panier-cover .panier-cover {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#panier-cover h1 {
	display: block;
	width: fit-content;
	font-size: 3.5rem;
	text-transform: uppercase;
	position: relative;
	color: transparent;
	animation: text_reveal .5s ease forwards;
	animation-delay: 1s;
}
#panier-cover h1:nth-child(1) {
	animation-delay: 1s;
}
#panier-cover h1:nth-child(2) {
	animation-delay: 2s;
}
#panier-cover h1:nth-child(3) {
	animation: text_reveal_name .5s ease forwards;
	animation-delay: 3s;
}
#panier-cover h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: rgb(212, 199, 97);
	animation: text_reveal_box 1s ease;
	animation-delay: .5s;
}
#panier-cover h1:nth-child(1) span {
	animation-delay: .5s;
}
#panier-cover h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#panier-cover h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End panier-cover Section */
